

.App {
  min-width: 100%;
  min-height: 100vh;
}

.App__animatedweather > canvas {
  width: 10% !important;
}


.App__logo{

  font-family: Raleway;
}

canvas{
  width: 100%;
}

.App__morning {
  background: #b92b27;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom , #1565C0, #b92b27);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #1565C0, #b92b27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App__night {
  background: #0f0c29;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App__evening {
  background: #108dc7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #ef8e38, #108dc7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #ef8e38, #108dc7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.App__day {
  background: #00F260;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #0575E6, rgb(0, 242, 137)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}