.Home {
  text-align: center;
}

.Home__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home__summary > p {
  color: white;
}


