.Home {

}
.Home__body {

  color: white;
}
.Home__spinner {

}
.Home__summary {

}
.Home__summary > p {
  color: white;
}
.Home__summary__temp {

}
.Home__summary__temp > p {

}
.Home__summary__item {

}

.Home__summary__icon{
  width: 2rem;
}
